body {
    background:#73BFA3;
    font-family: Arial, Helvetica, sans-serif;
}
.assignments { 
    display: flex;
    flex-wrap:wrap;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background:#F2ECD8;
    color:#BF5B04;
    border-radius: 20px;
}

.assignment img {
    width: 400px;
    margin: 10px;
    color: #59432F;
    border: 4px double #D93D04;
}

.assignment img:hover{ 
    border: 4px double #B2C368;
}

h1 { 
    color:#F2E6CE;
}

a { 
    text-decoration: none;
    color:#D93D04;
}

a:hover {
    color: #B2C368;
}